@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  height: 100vh;
  overflow: hidden;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background: white;
  border-radius: 5px;
  border: 1px solid #4631A0;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 20px;
  border-bottom: 1px solid #4631A0;
}
.button-container{
  padding: 0 40px;
  box-sizing: border-box;
}
button{
  width: 80%;
  height: 50px;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
#login-button{
  border: 2px solid #6DBC00;
  margin: 20px 0;
}
#admin-signup-button{
  border: 2px solid #4631A0;
  margin: 0 0 20px 0;
}
input[type="button"]:hover{
  border-color: #4631A0;
  transition: .5s;
}
input[type="button"]:active{
  background: #4631A0;
  color: #FFFFFF;
}
.footer-text{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}


@media (max-width: 500px) {
  .center, .modal-content {
    width: 95%;
    min-width: unset;
    margin: 10% auto;
    padding: 10px;
  }
  .center form, .modal form {
    padding: 0 10px;
  }
  .modal-content {
    width: 95%;
  }
}